@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

input {
  outline: none;
  margin: 0;
  padding: 0;
}

textarea {
  outline: none;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.modal-open {
  overflow: hidden;
}

.header .container {
  background-color: #FFB8CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  padding-bottom: 27px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .header__list {
    display: none;
  }
}

.header__link {
  color: #ffffff;
  font-size: 16px;
  font-style: blod;
  font-family: "DM+Sans";
}

.header-logo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__form {
  width: 50px;
  height: 50px;
  background-color: #D41443;
  border-radius: 50%;
  fill: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__text {
  font-family: "Titan One", cursive;
  font-size: 26px;
  Line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #D41443;
  margin-left: 10px;
}

.header-burger {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: auto;
  }
}

.header-burger:before, .header-burger:after {
  content: '';
  background-color: #D41443;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  border-radius: 3px;
}

.header-burger:before {
  top: 0;
}

.header-burger:after {
  bottom: 0;
}

.header-burger__line {
  position: absolute;
  background-color: #D41443;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
  border-radius: 3px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*---------------------------hero--------------------------*/
.hero .container {
  background-color: #FFB8CA;
  margin-left: auto;
  margin-right: auto;
  height: 405px;
  /*
    @media screen and (min-width: 768px) {
        padding-top: 38px;   
    }*/
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .hero__top-title {
    position: absolute;
    z-index: 2;
    top: 193px;
    left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero__top-title {
    top: 102px;
    left: 34px;
    position: absolute;
    z-index: 2;
  }
}

@media screen and (min-width: 1199px) {
  .hero__top-title {
    top: 171px;
    left: 115px;
    position: absolute;
    z-index: 2;
  }
}

.hero__text {
  color: #ffffff;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 218px;
  margin-bottom: 19px;
}

.hero__top-text {
  color: #D41443;
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.button-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-first {
  width: 62.4px;
  height: 24px;
  background-color: #D41443;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
  padding-left: 14px;
}

.button-first:hover, .button-first:focus {
  background-color: #C7133E;
}

.button-second {
  width: 82.8px;
  height: 24px;
  background-color: #ffffff;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  color: #D41443;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding-left: 14px;
}

.button-second:hover, .button-second:focus {
  background-color: #ECEBEB;
}

/*{
    display: block;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    color: #3911ec;
    position: absolute;
    content: '';
}*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.products {
  background-color: yellow;
}

.about {
  background-color: tomato;
  font-family: "Titan One", cursive;
}

.advantages {
  background-color: green;
}

.gallery {
  background-color: red;
}

.reviews {
  background-color: black;
}

.contacts {
  background-color: teal;
}

.footer {
  background-color: orange;
}
/*# sourceMappingURL=main.css.map */