@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

input {
  outline: none;
  margin: 0;
  padding: 0;
}

textarea {
  outline: none;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.modal-open {
  overflow: hidden;
<<<<<<< HEAD
}

.header .container {
  background-color: #FFB8CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  padding-bottom: 27px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .header__list {
    display: none;
  }
}

.header__link {
  color: #ffffff;
  font-size: 16px;
  font-style: blod;
  font-family: "DM+Sans";
}

.header-logo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__form {
  width: 50px;
  height: 50px;
  background-color: #D41443;
  border-radius: 50%;
  fill: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__text {
  font-family: "Titan One", cursive;
  font-size: 26px;
  Line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #D41443;
  margin-left: 10px;
}

.header-burger {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: auto;
  }
}

.header-burger:before, .header-burger:after {
  content: '';
  background-color: #D41443;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  border-radius: 3px;
}

.header-burger:before {
  top: 0;
}

.header-burger:after {
  bottom: 0;
}

.header-burger__line {
  position: absolute;
  background-color: #D41443;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
  border-radius: 3px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*---------------------------hero--------------------------*/
.hero .container {
  background-color: #FFB8CA;
  margin-left: auto;
  margin-right: auto;
  height: 405px;
  /*
    @media screen and (min-width: 768px) {
        padding-top: 38px;   
    }*/
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .hero__top-title {
    position: absolute;
    z-index: 2;
    top: 193px;
    left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero__top-title {
    top: 102px;
    left: 34px;
    position: absolute;
    z-index: 2;
  }
}

@media screen and (min-width: 1199px) {
  .hero__top-title {
    top: 171px;
    left: 115px;
    position: absolute;
    z-index: 2;
  }
}

.hero__text {
  color: #ffffff;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 218px;
  margin-bottom: 19px;
}

.hero__top-text {
  color: #D41443;
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.button-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-first {
  width: 62.4px;
  height: 24px;
  background-color: #D41443;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
  padding-left: 14px;
}

.button-first:hover, .button-first:focus {
  background-color: #C7133E;
}

.button-second {
  width: 82.8px;
  height: 24px;
  background-color: #ffffff;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  color: #D41443;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding-left: 14px;
}

.button-second:hover, .button-second:focus {
  background-color: #ECEBEB;
}

/*{
    display: block;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    color: #3911ec;
    position: absolute;
    content: '';
}*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.products {
  background-color: yellow;
}

.about {
  background-color: tomato;
  font-family: "Titan One", cursive;
}

.advantages {
  background-color: green;
}

.gallery {
  background-color: red;
}

.reviews {
  background-color: black;
}

.contacts {
  background-color: teal;
}

.footer {
  background-color: orange;
}
=======
  
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1280px;
  }
}

.advantages-container {
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .advantages-container {
    padding-bottom: 120px;
    padding-top: 90px;
  }
}

.advantages {
  background-color: #fff5f6;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -30px;
  }
}

.advantages-list__item {
  height: 156px;
  width: 230px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .advantages-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    margin-left: 60px;
    height: 222px;
    width: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-list__item {
    width: 330px;
  }
}

.advantages-list__item::before {
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -60px;
  left: 0;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .advantages-list__item::before {
    top: -80px;
  }
}

.advantages-list__item--milk::before {
  background-image: url(..//images/advantages/advantages-icon1.png);
}

.advantages-list__item--fruits::before {
  background-image: url(..//images/advantages/advantages-icon2.png);
}

.advantages-list__item--icecream::before {
  background-image: url(..//images/advantages/advantages-icon3.png);
}

.advantages-list__title {
  font-family: Titan One;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.13em;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .advantages-list__title {
    font-size: 48px;
    line-height: 1.14em;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-list__title {
    font-size: 58px;
    line-height: 1.14em;
  }
}

.advantages-list__text {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: black;
}

@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-list__text {
    font-size: 16px;
    line-height: 28px;
  }
}

.gallery {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(40%, #ffffff));
  background: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 120px;
  }
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  row-gap: 2%;
  -webkit-column-gap: 1%;
          column-gap: 1%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__item {
  border-radius: 5%;
  overflow: hidden;
  width: 100%;
}

.gallery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.gallery__item--2 {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--2:hover {
  -webkit-transform: scale(1.1) translateY(-3.5px);
          transform: scale(1.1) translateY(-3.5px);
  z-index: 1;
}

.gallery__item--3 {
  position: absolute;
  bottom: -50%;
  -webkit-transform: translateY(3%);
          transform: translateY(3%);
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--3:hover {
  -webkit-transform: scale(1.1) translateY(3.5px);
          transform: scale(1.1) translateY(3.5px);
  z-index: 1;
}

.gallery__item--4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

.gallery__item--5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--5:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.gallery__item--6 {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(17%);
          transform: translateY(17%);
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--6:hover {
  -webkit-transform: scale(1.1) translateY(18%);
          transform: scale(1.1) translateY(18%);
  z-index: 1;
}

.gallery__item--7 {
  position: absolute;
  bottom: -50%;
  -webkit-transform: translateY(23%);
          transform: translateY(23%);
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--7:hover {
  -webkit-transform: scale(1.1) translateY(22%);
          transform: scale(1.1) translateY(22%);
  z-index: 1;
}

.gallery__item--8 {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(-23%);
          transform: translateY(-23%);
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--8:hover {
  -webkit-transform: scale(1.1) translateY(-22%);
          transform: scale(1.1) translateY(-22%);
  z-index: 1;
}

.gallery__item--9 {
  position: absolute;
  bottom: -50%;
  -webkit-transform: translateY(-17%);
          transform: translateY(-17%);
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--9:hover {
  -webkit-transform: scale(1.1) translateY(-18%);
          transform: scale(1.1) translateY(-18%);
  z-index: 1;
}

.gallery__item--10 {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.gallery__item--10:hover {
  -webkit-transform: scale(1.1) translateY(50%);
          transform: scale(1.1) translateY(50%);
  z-index: 1;

>>>>>>> main
/*# sourceMappingURL=main.css.map */