ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img,
picture {
    display: block;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    outline: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

input {
    outline: none;
    margin: 0;
    padding: 0;
}
textarea {
    outline: none;
}
