$main-bg-color: #e5e5e5;
$second-bg-color: #fff5f6;
$third-bg-color: #ffb8ca;
$title-color: #d41443;
$second-title-color: #ffa5ba;
$main-text-color: #000000;
$second-text-color: #907e82;
$third-text-color: #ffffff;
