<section class="section about">
    <div class="container">
        <p class="about__pre-title">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__block">
            <div>
                <picture>
                    <source srcset="./images/about/img-1.png 1x, 
                    ./images/about/img-1-2x.png 2x" 
                    media="(min-width: 1280px)"
                    />
                    <source srcset="./images/about/img-tab-1.png 1x,
                    ./images/about/img-tab-1-2x.png 2x"
                    media="(min-width: 768px)"
                    />
                    <source srcset="./images/about/img-mob-1.png 1x,
                    ./images/about/img-mob-1-2x.png 2x"
                    media="(min-width: 320px)"
                    />
                    <img class="about__picture"
                    src="./images/about/img-1.png" alt="cow and jug of milk"
                    />
                </picture>
            </div>
            <div>
                <p class="about__text about__text--black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__button">Read more</button>
            </div>
        </div>
    </div>
</section>