<section class="gallery">
    <div class="container">
        <h2 class="gallery__titte">
        </h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <img src="./images/gallery/home-pic5 1.png" alt="" width="139px">
            </li>
            <li class="gallery__item">
                <div>
                    <img src="./images/gallery/home-pic5 2.png" alt="" width="139px">
                    <img src="./images/gallery/home-pic5 3.png" alt="" width="139px">
                </div>
            </li>
            <li class="gallery__item">
                <div>
                    <img src="./images/gallery/home-pic5 4.png" alt="" width="283px">
                    <img src="./images/gallery/home-pic5 5.png" alt="" width="139px">
                </div>
            </li>
            <li class="gallery__item gallery__item--transform">
                <img src="./images/gallery/home-pic5 6.png" alt="" width="139px">
                <img src="./images/gallery/home-pic5 7.png" alt="" width="139px">
            </li>
            <li class="gallery__item gallery__item--transform">
                <div>
                    <img src="./images/gallery/home-pic5 8.png" alt="" width="139px">
                    <img src="./images/gallery/home-pic5 9.png" alt="" width="139px">
                </div>
            </li>
            <li class="gallery__item gallery__item--transform">
                <img src="./images/gallery/home-pic5 10.png" alt="" width="139px">
            </li>
        </ul>

    </div>
    </div>
</section>