
<section class="gallery">
    <div class="container">
        <h2 class="gallery__titte visually-hidden"> Gallery
        </h2>
        <ul class="gallery__grid">
            <li class="gallery__item gallery__item--1">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/01_gallery_1280@1x.jpg 1x, ./images/gallery/01_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/01_gallery_1280@1x.webp 1x, ./images/gallery/01_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/01_gallery_768@1x.jpg 1x, ./images/gallery/01_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/01_gallery_768@1x.webp 1x, ./images/gallery/01_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/01_gallery_480@1x.jpg 1x, ./images/gallery/01_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/01_gallery_480@1x.webp 1x, ./images/gallery/01_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/01_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--2 grid-item">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/02_gallery_1280@1x.jpg 1x, ./images/gallery/02_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/02_gallery_1280@1x.webp 1x, ./images/gallery/02_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/02_gallery_768@1x.jpg 1x, ./images/gallery/02_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/02_gallery_768@1x.webp 1x, ./images/gallery/02_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/02_gallery_480@1x.jpg 1x, ./images/gallery/02_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/02_gallery_480@1x.webp 1x, ./images/gallery/02_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/02_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--3">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/03_gallery_1280@1x.jpg 1x, ./images/gallery/03_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/03_gallery_1280@1x.webp 1x, ./images/gallery/03_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/03_gallery_768@1x.jpg 1x, ./images/gallery/03_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/03_gallery_768@1x.webp 1x, ./images/gallery/03_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/03_gallery_480@1x.jpg 1x, ./images/gallery/03_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/03_gallery_480@1x.webp 1x, ./images/gallery/03_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/03_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--4">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/04_gallery_1280@1x.jpg 1x, ./images/gallery/04_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/04_gallery_1280@1x.webp 1x, ./images/gallery/04_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/04_gallery_768@1x.jpg 1x, ./images/gallery/04_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/04_gallery_768@1x.webp 1x, ./images/gallery/04_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/04_gallery_480@1x.jpg 1x, ./images/gallery/04_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/04_gallery_480@1x.webp 1x, ./images/gallery/04_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/04_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--5">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/05_gallery_1280@1x.jpg 1x, ./images/gallery/05_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/05_gallery_1280@1x.webp 1x, ./images/gallery/05_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/05_gallery_768@1x.jpg 1x, ./images/gallery/05_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/05_gallery_768@1x.webp 1x, ./images/gallery/05_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/05_gallery_480@1x.jpg 1x, ./images/gallery/05_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/05_gallery_480@1x.webp 1x, ./images/gallery/05_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/05_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--6">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/06_gallery_1280@1x.jpg 1x, ./images/gallery/06_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/06_gallery_1280@1x.webp 1x, ./images/gallery/06_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/06_gallery_768@1x.jpg 1x, ./images/gallery/06_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/06_gallery_768@1x.webp 1x, ./images/gallery/06_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/06_gallery_480@1x.jpg 1x, ./images/gallery/06_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/06_gallery_480@1x.webp 1x, ./images/gallery/06_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/06_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--7">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/07_gallery_1280@1x.jpg 1x, ./images/gallery/07_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/07_gallery_1280@1x.webp 1x, ./images/gallery/07_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/07_gallery_768@1x.jpg 1x, ./images/gallery/07_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/07_gallery_768@1x.webp 1x, ./images/gallery/07_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/07_gallery_480@1x.jpg 1x, ./images/gallery/07_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/07_gallery_480@1x.webp 1x, ./images/gallery/07_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/07_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--8">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/08_gallery_1280@1x.jpg 1x, ./images/gallery/08_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/08_gallery_1280@1x.webp 1x, ./images/gallery/08_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/08_gallery_768@1x.jpg 1x, ./images/gallery/08_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/08_gallery_768@1x.webp 1x, ./images/gallery/08_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/08_gallery_480@1x.jpg 1x, ./images/gallery/08_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/08_gallery_480@1x.webp 1x, ./images/gallery/08_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/08_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--9">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/09_gallery_1280@1x.jpg 1x, ./images/gallery/09_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/09_gallery_1280@1x.webp 1x, ./images/gallery/09_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/09_gallery_768@1x.jpg 1x, ./images/gallery/09_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/09_gallery_768@1x.webp 1x, ./images/gallery/09_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/09_gallery_480@1x.jpg 1x, ./images/gallery/09_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/09_gallery_480@1x.webp 1x, ./images/gallery/09_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/09_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
            <li class="gallery__item gallery__item--10">
                <picture class="gallery__img">
                    <source
                        srcset="./images/gallery/10_gallery_1280@1x.jpg 1x, ./images/gallery/10_gallery_1280@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/gallery/10_gallery_1280@1x.webp 1x, ./images/gallery/10_gallery_1280@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/gallery/10_gallery_768@1x.jpg 1x, ./images/gallery/10_gallery_768@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/gallery/10_gallery_768@1x.webp 1x, ./images/gallery/10_gallery_768@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/gallery/10_gallery_480@1x.jpg 1x, ./images/gallery/10_gallery_480@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <source
                        srcset="./images/gallery/10_gallery_480@1x.webp 1x, ./images/gallery/10_gallery_480@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <img src="/images/gallery/10_gallery_480@1x.jpg" alt="ice cream">
                </picture>
            </li>
        </ul>
    </div>
</section>

