<section class="gallery">
    <div class="container">
        <h2 class="gallery__titte">
        </h2>
        <ul class="gallery__grid">
            <li class="gallery__item gallery__item--1">
                <img src="./images/gallery/home-pic5 1.png" alt="" width="139px" height="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--2">
                <img src="./images/gallery/home-pic5 2.png" alt="" width="139px" height="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--3">
                <img src="./images/gallery/home-pic5 3.png" alt="" width="139px" height="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--4">
                <img src="./images/gallery/home-pic5 4.png" alt="" width="283px" height="238px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--5">
                <img src="./images/gallery/home-pic5 5.png" alt="" width="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--6">
                <img src="./images/gallery/home-pic5 6.png" alt="" width="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--7">
                <img src="./images/gallery/home-pic5 7.png" alt="" width="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--8">
                <img src="./images/gallery/home-pic5 8.png" alt="" width="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--9">
                <img src="./images/gallery/home-pic5 9.png" alt="" width="139px" class="gallery__img">
            </li>
            <li class="gallery__item gallery__item--10">
                <img src="./images/gallery/home-pic5 10.png" alt="" width="139px" class="gallery__img">
            </li>
        </ul>

    </div>
    </div>
</section>