
<header class="header">
    <div class="container">
            <a class="link header-logo" href="">
                <div class="header-logo__item">
                    <div class="header-logo__form">
                        <svg class="header-logo__icon" width="40" height="40">
                            <use href="./images/icons.svg#icon-ice-cream-_1"></use>
                        </svg>
                    </div>
                    <span class="header-logo__text">ICECREAM</span>
                </div>
            </a>
            <div class="header-burger">
                <span>

                </span>
            </div>


        <nav class="header__navigation">
            <ul class="header__list">
                <li>
                    <a class="link header__link" href="">Home</a>
                </li>
                <li>
                    <a class="link header__link" href="">About us</a>
                </li>
                <li>
                    <a class="link header__link" href="">How it’s made?</a>
                </li>
                <li>
                    <a class="link header__link" href="">Our products</a>
                </li>
                <li>
                    <a class="link header__link" href="">Contact</a>
                </li>
            </ul>
        </nav>
<!---
        <button type="button" class="button-menu" >
            <svg class="button__menu-icon" width="24" height="16">
                <use href="./images/icons.svg#icon-menu_24px1"></use>
            </svg>
        </button>
-->

<!----
        <button>
            <svg>
            <use></use>
            </svg>
        </button>
        <button>

        </button>--->

    </div>
</header>



<section class="hero">
<div class="container">
        <div>
            <h1>ice cream made with
                <p>passion</p>
            </h1>
            <ul>
                <li>
                    <button></button>
                </li>
                <li>
                    <button></button>
                </li>
            </ul>
        </div>
        <div>
            <picture 1>
                <source >
            </picture>
        </div>





</div>



</section>
