
<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <a class="link header-logo" href="">
                <div class="header-logo__item">
                    <div class="header-logo__form">
                        <svg class="header-logo__icon" width="40" height="40">
                            <use href="./images/icons.svg#icon-ice-cream-_1"></use>
                        </svg>
                    </div>
                    <span class="header-logo__text">ICECREAM</span>
                </div>
            </a>
            <ul class="header__list">
                <li>
                    <a class="link header__link" href="">Home</a>
                </li>
                <li>
                    <a class="link header__link" href="">About us</a>
                </li>
                <li>
                    <a class="link header__link" href="">How it’s made?</a>
                </li>
                <li>
                    <a class="link header__link" href="">Our products</a>
                </li>
                <li>
                    <a class="link header__link" href="">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header-burger">
                <span class="header-burger__line"></span>
        </div>
    </div>



    
</header>



<section class="hero">
    <div class="container">
        <div class="hero__top-title">
            <h1 class="hero__text">ice cream made with
                <span class="hero__top-text">passion</span>
            </h1>
            <ul class="button-top__list">
                <li class="button-top__item">
                    <button type="button" class="button-first" href="">
                    Products</button>
                </li>
                <li class="button-top__item">
                    <button type="button" class="button-second" href="">
                    How it’s made?</button>
                </li>
            </ul>
        </div>
        <div class="hero__image-eco">
            <picture>
                <source 
                srcset="
                /src/images/hero.img/desctop.eco.1x.png 1x,
                /src/images/hero.img/desctop.eco.2х.png 2x
                "
                media="(min-width: 1200px)"
                >
                <source 
                srcset="
                /src/images/hero.img/tablet.eco.1x.png 1x,
                /src/images/hero.img/tablet.eco.2х.png 2x
                "
                media="(min-width: 768px)"
                >
                <img src="../images/hero.img/desctop.eco.2х.png" 
                alt="eco-milk"
                />
            </picture>
        </div>
    </div>
</section>
