<section id="hero" class="hero">
    <div class="container hero__container">
        <div class="hero__wrap">
            <div class="hero__top-title">
                <div class="hero__top-first">
                    <h1 class="hero__text">ice cream made with
                        <span class="hero__top-text">passion</span>
                    </h1>
                    <ul class="button-top__list">
                        <li class="button-top__item">
                            <a class="button-first" href="#products">Products</a>
                        </li>
                        <li class="button-top__item">
                            <a class="button-second" href="#about">How it’s made?</a>
                        </li>
                    </ul>
                </div>
                <div class="hero__image-eco">
                    <picture>
                        <source srcset="
                                ./images/header-hero/desctop.eco.1x.png 1x,
                                ./images/header-hero/desctop.eco.2х.png 2x
                                " media="(min-width: 1280px)">
                        <source srcset="
                                ./images/header-hero/tablet.eco.1x.png 1x,
                                ./images/header-hero/tablet.eco.2х.png 2x
                                " media="(min-width: 768px)">
                        <img src="./images/header-hero/desctop.eco.2х.png" alt="eco-milk" />
                    </picture>
                    <div class="hero__part-eco">
                        <p class="hero__text-eco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et</p>
                        <a class="hero__link-eco" href="#">
                            <svg class="hero__icon-eco" width="10" height="10">
                                <use href="/images/header_hero.svg#icon-arrow-right2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hero-circle">
                <picture>
                    <source srcset="
                            ./images/header-hero/desctop.ice.1x.png 1x,
                            ./images/header-hero/desctop.ice.2х.png 2x
                            " media="(min-width: 1280px)">
                    <source srcset="
                            ./images/header-hero/tablet.ice.1x.png 1x,
                            ./images/header-hero/tablet.ice.2х.png 2x
                            " media="(min-width: 768px)">
                    <source srcset="
                            ./images/header-hero/mob.ice.1x.png 1x,
                            ./images/header-hero/mob.ice.2х.png 2x
                            " media="(min-width: 320px)">
                    <img class="hero__img-ice" src="./images/header-hero/desctop.ice.2х.png" alt="ICECREAM" />
                </picture>
            </div>
            <div class="hero__top-second">
                <ul class="hero__top-list">
                    <li class="hero__top-item">
                        <p class="hero__item-number">16</p>
                        <p class="hero__item-text">cafes</p>
                    </li>
                    <li class="hero__top-item">
                        <p class="hero__item-number">23</p>
                        <p class="hero__item-text">food trucks</p>
                    </li>
                </ul>
                <picture>
                    <source srcset="
                        ./images/header-hero/desctop.tasty.1x.png 1x,
                        ./images/header-hero/desctop.tasty.2х.png 2x
                        " media="(min-width: 1280px)">
                    <source srcset="
                        ./images/header-hero/tablet.tasty.1x.png 1x,
                        ./images/header-hero/tablet.tasty.2х.png 2x
                        " media="(min-width: 768px)">
                    <img class="hero__img-tasty" src="./images/header-hero/desctop.tasty.2х.png" alt="ICECREAM tasty" />
                </picture>
            </div>
        </div>
</section>