<section>
    <p>100% natural</p>
    <h3>products</h3>
    <ul>
        <li>
            <h4>ice cream</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                dolore magna
                aliqua facilisis.</p>
            <button>
                <svg class="button-icon">
                    <use href="./images/products-images/products-button.svg#icon-arrow-button"></use>
    
                </svg>
            </button>
        </li>

        <li>
            <h4>ice coffee</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button>
                <svg class="button-icon">
                    <use href="./images/products-images/products-button.svg#icon-arrow-button"></use>
        
                </svg>
            </button>
        </li>

        <li>
            <h4>milkshakes</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                dolore magna
                aliqua facilisis.</p>
            <button>
                <svg class="button-icon">
                    <use href="./images/products-images/products-button.svg#icon-arrow-button"></use>
        
                </svg>
            </button>
        </li>
    </ul>
</section>