.about {
  background-color: $second-bg-color;
  background-image: url("../images/about/milk-mob-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 90%;
  text-align: center;
  // padding-top: 125px;
  padding-bottom: 39px;
  margin: o auto;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/about/milk-mob-1-2x.png");
  }

  @media screen and (min-width: 1280px) {
    background-image: url("../images/about/milk-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 90%;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/about/milk-1-2x.png");
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: none;
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

.about__pre-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $second-title-color;
  margin-bottom: 15px;

  @media screen and (min-width: 480px) {
    font-size: 22px;
    line-height: 1.15;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $title-color;
  min-width: 200px;
  margin: 0 auto;
  margin-bottom: 26px;

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    min-width: 480px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    min-width: 550px;
    margin-bottom: 55px;
  }
}

.about__block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.about__card {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    max-width: 460px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 17px);
    margin-left: 17px;
    max-width: 460px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc(100% / 2 - 50px);
    margin-left: 50px;
    max-width: 516px;
  }
}

.about__card--first {
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }
}
.about__picture {
  width: 100%;
}

.about__card--second {
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-left: 20px;
  }
}
.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.04em;
  color: $second-text-color;
  text-align: start;
  margin: 0 auto;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.94;
  }
}

.about__text--black {
  font-size: 12px;
  line-height: 1.58;
  color: $main-text-color;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.about__text--last {
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}
.about__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  min-width: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $title-color;
  background-color: $light-btn-bg-color;
  border-radius: 22px;
  padding: 13px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $light-hover-btn-bg-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__icon {
  display: block;
  width: 6px;
  height: 8px;
  fill: currentColor;
  margin-left: 18px;

  @media screen and (min-width: 768px) {
    margin-left: 14px;
  }
}
