.filials-contacts{
    @media screen and (min-width: 480px){
    align-items: center;
    margin-left: auto;
}
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 115px;
    background: 
    linear-gradient(to bottom, #ffffff 1%, 
                              #fff5f6 99%);
}

.contacts__title{
    display:none;
}

.contacts-list__first-filial{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
align-items: center;
text-align: center;
width: 80px;
height: 16px;
background-color:#F0D1A5;
border-radius: 4px;
margin-bottom: 25px;
@media screen and (min-width: 768px){
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px){
    margin-bottom: 30px;
}
}

.contacts-list__second-filial{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
align-items: center;
text-align: center;
width: 130px;
height: 16px;
background-color:#C2E297;
border-radius: 4px;
margin-bottom: 25px;
@media screen and (min-width: 768px){
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px){
    margin-bottom: 30px;
}   
}

.contacts-list_title{
font-style: normal;
font-weight: 500;
font-size: 12px;
letter-spacing: 0.04em;
color: $main-text-color;
}

.contacts-list__text{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
color: $second-text-color;
margin-bottom: 50px;
margin-top: 10px;
@media screen and (min-width: 768px){
    margin-bottom: 30px;
    margin-top: 15px;
}
@media screen and (min-width: 1200px){
    margin-bottom: 30px;
    margin-top: 10px;
}
}

.contacts-list__hr-line{
    width: 100%;
    height: 0px;
    border: 1px solid #E1E1E1;
    margin-top: -25px;   
    margin-bottom: 25px;
    @media screen and (min-width: 768px){
        margin-bottom: 30px;
        margin-top: 30px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 35px;
        margin-top: 32px;
    }
}

.contacts-list__time{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
color:$second-title-color;
&:not(:last-child){
margin-bottom: 10px;
}
}

.contacts__item{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5px;
color: $second-text-color;
}

.contacts__hr-line{
    width: 100%;
    height: 0px;
    border: 1px solid #E1E1E1;
    margin-top: 25px;   
    margin-bottom: 25px;  
    @media screen and (min-width: 768px){
        margin-bottom: 30px;
        margin-top: 30px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 32px;
        margin-top: 32px;
    }
}

.contacts-btn__button{
    @media screen and (min-width: 768px){
        display: flex;
        justify-content: center;
        }

   justify-content: center;
    text-align: center; 
}

.location-open{
    @media screen and (min-width: 768px){
        margin-top: 80px;  
        margin-left: 15px;
    } 
width: 162px;
height: 44px;
background: #D41342;
border-radius: 22px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.31;
color: $third-text-color;
margin-top: 55px;
margin-bottom: 10px;
}

.modal-open{
    @media screen and (min-width: 768px){
        margin-top: 80px;  
    } 
width: 161px;
height: 44px;
background: #FFFFFF;
border-radius: 22px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.31;
color: #D41443;
}

.contacts-list__wrap{
   @media screen and (min-width: 768px){
        display: flex;
        justify-content: center;
    }
}

.contacts-list__list{
    align-items: center;
    width: 220px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 21px 43px 20px;
    @media screen and (max-width: 767px){
     &:not(:last-child){
        margin-bottom: 20px;
    }
}
    @media screen and (min-width: 768px){
        width: 220px;
        &:not(:last-child){
            margin-right: 20px;
        }
            }
    @media screen and (min-width: 1200px){
        width: 100%;
        &:not(:last-child){
            margin-right: 30px;
        }
            }
}

// .icon {
//     display: inline-block;
//     width: 1em;
//     height: 1em;
//     stroke-width: 0;
//     stroke: currentColor;
//     fill: #D41342;
//   }
//   .icon-Vector-1 {
//     width: 0.7001953125em;
//   }