.filials-contacts{
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 115px;
    background: 
    linear-gradient(to bottom, #ffffff 1%, 
                              #ffb8ca 99%);
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -115px;
        z-index: -1;
        background-image: url(../images/sectionbg.png);
    background-size: contain;
    }
}

.contacts-container{
    @media screen and (min-width: 768px){
        padding-left: 35px;
        padding-right: 35px;
    }
}

.contacts__title{
    display:none;
}

.contacts-list__first-filial{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
align-items: center;
text-align: center;
width: 80px;
height: 16px;
background-color:#F0D1A5;
border-radius: 4px;
margin-bottom: 25px;
@media screen and (min-width: 768px){
    margin-bottom: 30px;
}
@media screen and (min-width: 1280px){
    margin-bottom: 30px;
}
}

.contacts-list__second-filial{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
align-items: center;
text-align: center;
width: 130px;
height: 16px;
background-color:#C2E297;
border-radius: 4px;
margin-bottom: 25px;
@media screen and (min-width: 768px){
    margin-bottom: 30px;
}
@media screen and (min-width: 1280px){
    margin-bottom: 30px;
}   
}

.contacts-list_title{
font-style: normal;
font-weight: 500;
font-size: 12px;
letter-spacing: 0.04em;
color: $main-text-color;
}

.contacts-list__text{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
color: $second-text-color;
margin-bottom: 50px;
margin-top: 10px;
@media screen and (min-width: 768px){
    margin-bottom: 30px;
    margin-top: 15px;
}
@media screen and (min-width: 1280px){
    margin-bottom: 30px;
    margin-top: 10px;
}
}

.contacts-list__hr-line{
    width: 100%;
    height: 0px;
    border: 1px solid #E1E1E1;
    margin-top: -25px;   
    margin-bottom: 25px;
    @media screen and (min-width: 768px){
        margin-bottom: 30px;
        margin-top: 30px;
    }
    @media screen and (min-width: 1280px){
        margin-bottom: 35px;
        margin-top: 32px;
    }
}

.contacts-list__time{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
color:$second-title-color;
&:not(:last-child){
margin-bottom: 10px;
}
}

.contacts__item{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.5px;
color: $second-text-color;
&:hover,
&:focus,
.current{
color: $second-title-color;
}
}

.contacts__hr-line{
    width: 100%;
    height: 0px;
    border: 1px solid #E1E1E1;
    margin-top: 25px;   
    margin-bottom: 25px;  
    @media screen and (min-width: 768px){
        margin-bottom: 30px;
        margin-top: 30px;
    }
    @media screen and (min-width: 1280px){
        margin-bottom: 32px;
        margin-top: 32px;
    }
}

.contacts-btn__button{
    @media screen and (max-width: 767px){
display: flex;
flex-direction: column;
align-items: center;
    }
    @media screen and (min-width: 768px){
        display: flex;
        justify-content: center;
        }

//    justify-content: center;
//     text-align: center; 
}

.location-open{
    @media screen and (min-width: 768px){
        margin-top: 80px;  
        margin-right: 15px;
        width: 190px;
    } 
    @media screen and (min-width: 1280px){
        margin-top: 85px; 
        width: 198px; 
    } 
width: 162px;
height: 44px;
background: #D41342;
border-radius: 22px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.31;
color: $third-text-color;
margin-top: 55px;
margin-bottom: 10px;
&:hover,
&:focus,
.current{
    box-shadow: 0px 3px 1px rgba(158, 15, 15, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.modal-open{
    @media screen and (min-width: 768px){
        margin-top: 80px; 
        width: 175px; 
    } 
    @media screen and (min-width: 1280px){
        margin-top: 85px; 
        width: 180px; 
    } 
width: 161px;
height: 44px;
background: #FFFFFF;
border-radius: 22px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.31;
color: #D41443;
&:hover,
&:focus,
.current{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.contacts-list__wrap{
   @media screen and (min-width: 768px){
        display: flex;
    }
}

.contacts-list__list{
    align-items: center;
    margin: auto;
    width: 220px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 21px 43px 20px;
    @media screen and (max-width: 767px){
     &:not(:last-child){
        margin-bottom: 20px;
    }  
}
    @media screen and (min-width: 768px){
        width: 220px;
        &:not(:last-child){
            margin-right: 20px;
        }
            }
    @media screen and (min-width: 1280px){
        max-width: 330px;
&:not(:last-child){
    margin-right: 30px;
}
    }
    &:hover,
    &:focus,
    .current{
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.contacts-btn__icon{
    display: block;
    width: 6px;
    height: 8px;
    fill: currentColor;
      margin-left: 18px;
    @media screen and (min-width: 768px) {
      margin-left: 14px;
    }
}