.gallery {
    background: linear-gradient(to bottom, #FFF5F6 40%, #fff 40%);

    &__titte {
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -4px;
    }

    &__item {
        margin: 4px;
    }
}
.gallery__item--transform {
}
.container {
}
