.header{
    background-color: #FFB8CA;
    display: flex;
    align-items: center;
    .container{
        padding-top: 21px;
        padding-bottom: 27px;
    }
}
.container{
    min-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.header__navigation{

}

.header__list{
    display: flex;
    @media screen and (max-width: 1280px){
        display: none;
    }
}
.header__link{
    color: #ffffff;
    font-size: 16px;
    font-style: blod;
    font-family: "DM+Sans";
    

}




.header-logo__item{
    display: flex;
    align-items: center;

}
.header-logo__form{
    width: 50px;
    height: 50px;
    background-color: #D41443;
    border-radius: 50%;
    fill: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
}
.header-logo__icon{
    justify-content: center;
    align-items: center;
}
.header-logo__text{
    font-family: "Titan One", cursive;
    font-size: 26px;
    Line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #D41443;
    margin-left: 10px;
}
.header-burger{ 
    display: none;
    @media screen and (max-width: 1280px){
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
}
.header-burger {
    &:before, &:after {
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

.button-menu{
    
    margin-left: auto;
    color: #D41443;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-color: transparent;
    border: none;
    @media screen and (min-width: 1280px){
        display: none;
    }
}
.button-menu__icon{
    color: #D41443;
        width: 24px;
        height: 16px;
        
    
}